<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="../assets/add.css" />
    <title>AppsCenter</title>
  </head>
  <body>
    <div>
      <img src="../assets/images/AppsCenter.png" class="center" />
    </div>
    <div>
      <form  onsubmit="putNewApp()">
        <label>name</label>
        <div class="was-validated">
          <input
            maxlength="30"
            minlength="4"
            type="name"
            class="form-control form-check-input"
            id="name"
          />
        </div>
        <label>price</label>
        <div>
          <input
            type="number"
            id="price"
            minlength="0"
            class="form-control form-check-input"
          />
        </div>
        <label>description</label>
        <div>
          <input
            type="text"
            maxlength="30"
            id="description"
            class="form-control form-check-input"
          />
        </div>
        <label>company name</label>
        <div>
          <input
            type="name"
            maxlength="30"
            id="companyName"
            class="form-control form-check-input"
          />
        </div>
        <label>image url</label>
        <div>
          <input
            type="name"
            id="imageUrl"
            class="form-control form-check-input"
          />
        </div>
        <button onclick="putNewApp()" class ="button"><a href ="index.html">publish new app</a></button>
      </form>
    </div>
   

    <script src="../controllers/main.js"></script>
  </body>
</html>
